@import "./Chat/Chat";

.ui.list.chats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include Chat;
}

.chat-list-placeholder {
  width: fit-content;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  line-height: 40px;
  color: #0000004f;
}
