@use "../../partials/const" as _;
@import "../../partials/responsive";

.profile {
  .page.left {
    > .content {
      height: 100%;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .head {
        display: flex;
        margin-bottom: 20px;
        .ui.button {
          color: black;
        }
        .title {
          flex: 1;
          font-size: x-large;
        }
      }
      .user-info {
        .info {
          > * {
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
      .posts {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
    }
  }

  .page.right {
    > .content {
      height: 100%;
      padding: 0 10px;
      .title {
        font-size: x-large;
        padding-bottom: 20px;
      }
      .chat-layout {
        overflow: hidden;
        height: calc(100% - 40px);
        &.collapse {
          padding-bottom: 0;
          .chat-list {
            height: 30%;
          }
        }
        .chat-list {
          width: 100%;
          position: relative;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          height: 100%;
          transition: all 200ms;
        }
        .chat-area-container {
          width: 100%;
          height: 70%;
          transition: all 200ms;
        }
      }
    }
  }

  @include smL {
    .page.right {
      .content {
        .chat-layout {
          &.collapse {
            display: flex;
            padding: 0;
            .chat-list {
              height: 100%;
              width: 0;
            }
            .chat-area-container {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
