@import "../../../partials/responsive";

.filter {
  .header {
    font-size: large;
    padding-bottom: 10px;
  }
  .filter-button {
    display: flex;
    align-items: end;
    .button:not(.icon) {
      display: none;
    }
  }

  @include sm {
    .filter-button {
      width: 100%;
      display: flex;
      justify-content: end;
      .button:not(.icon) {
        display: flex;
        color: black;
        margin-bottom: 20px;
        margin-right: 5px;
      }
      .icon.button {
        display: none;
      }
    }
  }
}
