.loader-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff73;
  z-index: 10000;
  align-items: center;
  display: flex;
  justify-content: center;

  .loader-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    box-sizing: border-box;

    &:after {
      content: " ";
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;
      margin: 8px;
      border: 32px solid #111;
      border-color: #111 transparent #111 transparent;
      animation: loader-spinner 1.2s infinite;
      box-sizing: border-box;
    }
  }
}

@keyframes loader-spinner {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
