@mixin PageRightBgImage {
  img:not(.ui.image) {
    position: absolute;
    right: 0;
    width: 115%;
  }
}

@mixin EmojiCentered {
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
